name: CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Display System Info
        run: echo "Running CI pipeline..."

      - name: Build Step
        run: echo "Build successful"

      - name: Test Step
        run: echo "Tests passed"